.formdetails{
  position: relative;
  display: none;
  border: 2px solid black;
  padding: 23px;
  width: 360px;
  margin: 25px;
  background-color: rgb(206, 190, 167);
}
.formsetting{
    display: grid;
    grid-template-columns: 120px 300px;
    grid-gap: 10px;
    
}
.tablesetting{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: rgba(150, 212, 212, 0.4);
    border: 1px solid black;
    border-collapse: collapse;
}
.tableheadingsetting{
    text-align: center;
    padding: 10px;
    background-color: rgba(150, 212, 212, 0.4);
    border: 1px solid black;
    border-collapse: collapse;
   
}
.btn{
    position: relative;
    left: 302px;
    margin: 30px;
    
}
.btn1{
    margin-left: 30px;
    background-color: gray;
    width: 102px;
    height: 29px;
    margin: 0px;
}
#isdup{
    display: none;
    color: red;
}
#nobooks{
position: relative;
top: 98px;
left: 271px;
display: none;
}
.searchtablesetting{
    display:none;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
#image{
    position: relative;
    height: 80px;
    width: 100px;
    border: 2px solid green;
}
#heading{
    position: absolute;
    background-color: lightcyan;
    padding: 25px;
    left: 154px;
    top: -15px;
    padding-left: 251px;
    right: 14px;
    float: right;
   
}
#save{
    background-color:blueviolet;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
    width: 63px;
    margin: 1px;
}
#cancel{
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
    width: 65px;
    position: relative;
    top: 3px;
    left: -50px;
}
#search{
    background-color: gray;
    position: absolute;
    left: 140px;
    border: 2px solid black;
    width: 117px;
    height: 24px;
}
input::placeholder {
    color: #fff;
  }
    td {
    border: 1px solid black;
    border-collapse: collapse;
  } 
  #search:hover{
    background-color: white;
  }
  #search:visited{
    background-color:lightgreen;
  }
  #searchbtn{
    position: absolute;
    left: 229px;
    height: 24px;
  }