#image{
    position: relative;
    height: 81px;
    width: 140px;
    top: 8px;
    border: 2px solid green;
}
#heading{
    position: absolute;
    background-color: lightcyan;
    padding: 22px;
    border: 2px solid black ;
    top: -5px;
    padding-left: 251px;
    right: 14px;
    float: right;
    width: 1093px;
    left: 151px;
}
.head{
    
    margin-bottom: 61px;
}
.bookarrangement{
    margin: 55px;
}
.footer{
    background-color: lightblue;
      text-align: center;
      position: relative;
      width: 1518px;
      padding: 3px;
      top: 500px;
}
#nobooks{
    display: none;
    position: relative;
    text-align: center;
    top:100px;
}


@media  (min-width:320px) and (max-width:666px){
    #image{
        width: 29px;
    height: 28px;
    }
    #heading {
        left: 40px;
        width: 251px;
        padding: 10px;
        top: 13px;
    font-size: 6px;
    text-align: center;


    }
    #nobooks{
        top: 16px;
        left: -54px;
    font-size: 6px;
    }
    .footer {
        font-size: 7px;
    width: 310px;
        padding:1px;
    top: 465px;
      
    }
    #bookarrangement{
        position: relative;
    }    
    

}

@media (max-width:768px) and (min-width:666px){
    #nobooks  {
      
        left: 402px;
        top: 188px;
    }
    

}