#image{
    position: relative;
    height: 81px;
    width: 140px;
    top: 8px;
    border: 2px solid green;
}
#heading{
    position: absolute;
    background-color: lightcyan;
    padding: 22px;
    border: 2px solid black ;
    top: -5px;
    padding-left: 251px;
    right: 14px;
    float: right;
    width: 1093px;
    left: 151px;
}
.head{
    
    margin-bottom: 61px;
}
.bookarrangement{
    margin: 55px;
}
.footer{
    background-color: lightblue;
      text-align: center;
      position: relative;
      width: 1518px;
      padding: 3px;
      top: 500px;
}
#nobooks{
    display: none;
    position: relative;
    text-align: center;
    top:100px;
}

@media (max-width:666px) and (min-width:320px){
    #image{
        width: 74px;
    height: 46px;
    }
    #heading {
        font-size: 9px;
        left: 84px;
        width: 193px;
        top: 10px;
        padding: 18px;

    }
    #nobooks{
        left: 191px;
        left: 3px;
    top: 16px;
    }
    .footer {
        padding: 1px;
    width: 302px;
    top: 465px;
      
    }
    #bookarrangement{
        position: relative;
    }    


}

@media (max-width:768px) and (min-width:666px){
    #nobooks  {
        display: block;
        left: 402px;
        top: 188px;
    }
    

}