.formdetails{
  position: relative;
  display: none;
  border: 2px solid black;
  padding: 23px;
  width: 360px;
  margin: 25px;
}
.formsetting{
    display: grid;
    grid-template-columns: 120px 300px;
    grid-gap: 10px;
}
.tablesetting{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
.tableheadingsetting{
    text-align: center;
    padding: 10px;
}
.btn{
    position: relative;
    left: 302px;
    margin: 30px;
}
.btn1{
    margin-left: 30px;
}
#isdup{
    display: none;
    color: red;
}
#nobooks{
position: relative;
top: 98px;
left: 271px;
display: block;
}