.formdetails{
    top: -116px;
    border-radius: 10px;
    background-color: rgb(96, 177, 244);
    left: 567px;
  position: relative;
  visibility: hidden;
  border: 2px solid black;
  padding: 23px;
  width: 340px;
  margin: 20px;
 
}
.formsetting{
    display: grid;
    grid-template-columns: 100px 200px;
    grid-gap: 10px;
    
}
.tablesetting{
    width: 1515px;
    position: relative;
    top:  46px;
    border: 2px solid black;
    padding: 10px;
    background-color: rgba(150, 212, 212, 0.4);
    border: 1px solid black;
    border-collapse: collapse;
}
.tableheadingsetting{
    text-align: center;
    padding: 10px;
    background-color: rgba(150, 212, 212, 0.4);
    border: 1px solid black;
    border-collapse: collapse;
   
}
#priceEle{
    display: none;
    color: red;
}
#digits{
    display: none;
    color: red;
}
#isdup{
    display: none;
    color: red;
}
#nobook{
 display: none;
}
.searchtablesetting{
    display:none;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
#image{
    position: relative;
    height: 81px;
    width: 140px;
    top: 8px;
    border: 2px solid green;
}
#heading{
    position: absolute;
    background-color: lightcyan;
    text-align: center;
    border: 2px solid black ;
    float:right;
    left: 140px;
    padding: 19px;
    width: 1379px;
    top: -12px;
   
}
#save{
   position: relative;
   background-color: green;
   border: 2px solid black;
   width: 90px;
   border-radius: 25px;
   color: black;
  
}
#cancel{
    background-color: grey;
    border-radius: 29px;
    position: relative;
    width: 91px;
    background-color: red;
}
 td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width :30px;
    height: 40px;
  } 
#canclebtn{
    right: -1px;
    top: -1px;
    padding: 6px;
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
#formheading{
    font-size: 16px;
    font-family: serif;
    right: -67px;
    left: 85px;
    top: -12px;
    margin: 0px;
    position: relative;
    color: green;
}

.btn{
    position: relative;
    left: 1170px;
    top: 32px;
    
}
.btn1{
    width: 156px;
    margin: 6px;
    height: 33px;
    background-color:lightgreen;
    margin: 0px;
    position: relative; 
   
    
}
#search{
    height: 33px;
    width: 163px;
    position: absolute;
    border: 2px solid black; 
    margin: 6px;
    top:0px;
   
}
.footer{
    top:0px;
    background-color: lightblue;
      text-align: center;
      position: relative;
      width: 1518px;
      padding: 4px;
      top:120px;
}
.remove{
    font-size:20px;
    color:red;
    margin-right: 15px;
}
.edt{
    position:relative;
    top:-3px;
    font-size: 20px;
    color: green;
}
.addbookele{
    position: relative;
    top: 0px;
    width: 152px;
    left: -6px;
    height: 27px;

}
.error {
    color: red;
    position: absolute;
    top: 245px;
    left: 630px;
    font-size: 36px;
  }


 @media (max-width:666px) and (min-width:320px){

#heading{
    left: 53px;
    width: 316px;
    height: 34px;
    padding: 9px;
    font-size: 9px;
}
#image{
    width: 53px;
    height: 35px;
}

.tablesetting {
    width: 694px;
}

.footer {
    left: 3px;
    top: 154px;
    width: 364px;
    font-size: 16px;
    padding: -13px;
    height: 24px;
}

.btn{
    margin-left: -49px;
    left: 393px;
    top: 10px;
    position: relative;
}
.btn1{
    margin-left: -112px;
    font-size: 5px;
    height: 14px;
    left: 6px;
    width: 52px;
}
#search{
    position: relative;
    width: 51px;
    height: 14px;
    font-size: 7px;
    top: 1px;
}
.tableheadingsetting , td{
    padding: 1px;
    position: relative;
    font-size:8px;
    
}
#nobook{
    font-size: 4px;
    height: 0px;
}
.tablesetting{
    position: relative;
    top: 18px;
    width: 369px;
}
.formsetting{
   
    font-size: 7px;
    display: grid;
    position: relative;
    left: 7px;
    grid-row-gap: 1px;
    
    grid-template-columns: 53px 122px;
}
.formdetails{
    position: relative;
    display: block;
    left: 42px;
    top: 10px;
    padding: 0px;
   width: 200px;
    height: 154px;
}
#bookid{
    font-size: 4px;
}
#bookname{
    font-size: 4px;
}
#author{
    font-size: 4px;
}
#category{
    font-size: 4px;
}
#CheckBox{
    height: 7px;
}
#CheckBox1{
    height: 7px;
}
#CheckBox2{
    height: 7px;
}
#price{
    font-size: 4px;
}
#Radio{
    width: 6px;
    height: 8px;
}
#Radio1{
    width: 6px;
    height: 8px;
}
#save{
    width: 32px;
    font-size: 7px;
}
#cancel{
    width: 32px;
    font-size: 7px;
}

#formheading {
    font-size: 9px;
    left: 68px;
    top: 0px
}
#canclebtn {
    padding: 2px;
    border: 2px solid black;
    height: 13px;
    width: 14px;
right: 6px;
}

.error{
    position: absolute;
    left: 82px;
    top: 126px;
    font-size: 19px;
}
.remove{
    position: relative;
    display: table-cell;
    font: icon;
    font-size: 6px;
    top: -4px;
    margin-right: 6px;
}
.edt{
    position: relative;
    content: "\f044";
    font-size: 16px;
    top: 0px;
    position: relative;
    left: 10px;
}
  }
  @media (max-width:768px) and (min-width:666px){

    #heading{
        width: 628px;
    }
    .btn{
        position: absolute;
        left:426px;
        top:100px;
    }
    .formdetails{
        left: 190px;
        top: 38px;
    }
.tablesetting{
    top: 95px;
    position: relative;
    width: 765px;
}
.footer{
    width: 770px;
}






  }