#image{
    position: relative;
    height: 81px;
    width: 140px;
    top: 8px;
    border: 2px solid green;
}
#heading{
     position: absolute;
    background-color: lightcyan;
    text-align: center;
    border: 2px solid black ;
    left: 143px;
    top: -14px;
    width: 1321px;
    
    padding: 22px;

}
.parag{
    position: relative;
    top: 57px;
}
#image1{
    top: 51px;
    width: 1500px;
    height: 300px;
    position: relative;
    border: 2px solid greenyellow;
}
.link{
    position: relative;
    margin: 178px;
    border: 10px;
}
.homepage{
    position: absolute;
    display: grid;
    grid-template-areas: "head"
                         "staticimage" 
                         "hyperlink""hyperlink"
                         "footer";
                         grid-gap: 20px;
  
}
.head{
    grid-area: head;
}
.staticimage{
    grid-area: staticimage;
}
.hyperlink{
    grid-area: hyperlink;
    position: relative;
    top: 63px;
    left: 75px;
}
.footer{
    grid-area: footer;
    align-items: center;
  justify-items: center;
  background-color: lightblue;
    text-align: center;
    left: -5px;
    position: relative;
    top: 103px;
    width: 1518px;
}
.bookbtn{
    padding: 25px;
    width: 301px;
    background-color: aquamarine;
}
@media  (min-width:320px) and (max-width:647px){
#image{
    position: relative;
    width: 69px;
    height: 37px;
}

    #heading{

        font-size: 13px;
    width: 387px;
    top: -46px;
    height: 21px;
    padding: 8px;
        position: relative;
        left: 71px;
        text-align: center;

    }

    .hyperlink {
        top: -33px;
        left: -140px;
    }
    .footer {
        left: -6px;
        width: 482px;
        font-size: 11px;
        top: -3px;
    text-align: center;
    
    }

   .parag {
    position: relative;
    width: 482px;
    top: -27px;
    left: -8px;
    }
    #image1 {
        width: 477px;
        top: -48px;
        left: -5px;
        height: 160px;
    }
   .bookbtn{
    position: relative;
    width: 82px;
    height: -70px;
    font-size: 9px;
    padding: 1px;
    margin: 20px;
    left: 133px;
   }

}
@media (min-width:666px) and (max-width:768px){


    #heading {
       width: 2856px;
       }
    #image1{
        width: 3035px;
        height: 554px;
        top: 130px;
    }
   .parag{
    position: relative;
    top: 217px;
    width: 3020px;
    font-size: 36px;
   }
   .footer{
    width: 3028px;
    font-size: 39px;
    top: 580px;
   
   }
   .bookbtn {
    padding: 17px;
    width: 328px;
    font-size: 31px;
    left: -5px;
  
    position: relative;
}
.hyperlink{
    left: 790px;
    top: 400px;
    left: 672px;
}


}