#image{
    position: relative;
    height: 80px;
    width: 100px;
    border: 2px solid green;
}
#heading{
    position: absolute;
    background-color: lightcyan;
    padding: 25px;
    left: 154px;
    top: -15px;
    padding-left: 251px;
    right: 14px;
    float: right;
}
#image1{
    width: 1500px;
    height: 300px;
    position: relative;
}
.link{
    position: relative;
    margin: 261px;
    border: 10px;
}
.homepage{
    position: absolute;
    display: grid;
    grid-template-areas: "head"
                         "staticimage" 
                         "hyperlink""hyperlink"
                         "footer";
                         grid-gap: 20px;
  
}
.head{
    grid-area: head;
}
.staticimage{
    grid-area: staticimage;
}
.hyperlink{
    grid-area: hyperlink;
  
}
.footer{
    grid-area: footer;
    align-items: center;
  justify-items: center
}