.signinform{
   position: absolute;
   left: 142px;
   background: white;
   top: 73px;
   
}
*{
    box-sizing: border-box;
}

.book{
    height: 50px;
    width: 50px;
}
.setheading{
    display: inline-flex;
    padding-left: 60px;
    position: absolute;
    margin-top: 0px;
}
.list1{
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px;
}
#addlist{
    border: none;
    font-family:FontAwesome;
    width: 182px;
    margin-left: 89px;
    font-size: 15px;
}

a{
    text-decoration: none;
}
.setheading1{
    top: -6px;
    position: absolute;
    left: 264px;
    top: 93px;

}
.heading{
    position: relative;
    top: -102px;
}
@media (max-width:1024px) and (min-width:768px){
.heading{
    position: absolute;
    left: -26px;
    top: -77px;
    display: flex;
}
.lapin{
    position: relative;
    width: 148px;
}
.lapinput{
    position: relative;
    top: 31px;
    width: 171px;
    height: 21px;
    font-family: FontAwesome;
}
.signinform{
    position: absolute;
    top: 77px;
    left: 149px;
}

}
.image{

        background-image:url(grey.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 150px;
        content: "";
        height: 1000px;
        position: absolute;
        top: 80px;
        position: absolute;
        left: -46px;
        margin: 0px;
      width: 1571px;
        
}
.image1{
    left: -458px;
    top: 0px;
    position: absolute;
        border-radius: 24px;
        border: 2px solid;
        height: 295px;
        width: 380px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  .image2{
    max-width: 100%;
    max-height:100%;
    right: 136px;
    position: absolute;
    top: 87px;
  }


.first-txt {
    position: absolute;
    top: -14px;
    left: -408px;
    color:green;
}

.second-txt {
    position: absolute;
    left: -399px;
    top: 205px;
    color: gold;
}
  
  .formtext {
    font-size: 20px;
    padding-left: 20px;
    
  }
  @media (max-width:666px) and (min-width:320px){
    .heading{
        top: -46px;
    display: flex;
    left: -283px;
    position: relative;
    color: black;
    font-size: 17px;
    }
    .signinform{
        position: absolute;
        font-size: 19px;
    padding: 27px;
    top: 63px;
    left: 112px;
    }
    .mobileinput{
        padding: 0px;
        margin: 0px;
        top: 29px;
    position: relative;
    height: 24px;
    font-family: FontAwesome;
    width:169px;
    left: -10px;
    }
    .mobilein{
        position: relative;
        width:132px;
    }
    .image{
        position: absolute;
        width: 1213px;
        top: 129px;
    }
    .image1{
        position: absolute;
    left: -300px;
}
.first-txt{
    left: -285px;
    position: absolute;
    top: 17px;
    color: green;
}
.second-txt{
    left: -250px;
}
.list1{
    font-size: 20px;
}
}

@media (max-width:768px) and (min-width:666px){
    .heading{
        position: relative;
        left: -304px;
    top: -56px;
    display: flex;

    }
    .tabinput{
        position: relative;
        width: 165px;
        left: 26px;
        top: 27px;
        font-family: FontAwesome;
        height: 26px;
    }
    .tabin{
        width: 127px;
        position: relative;
    }
    .signinform{
        position: relative;
    width: 0px;
    top: 113px;
    left: -575px;
    }
    
    .formadj{
        width: 503px;
        height: 404px;
        font-size: 26px;
    }
    .image2{
        position: absolute;
    top: 173px;
    }
    .tdadj{
        position: relative;
        display: inline;
    left: -20px;
    }
    .image{
        left: 0px;
    position: absolute;
    display: inline;
    top: 121px
    }
    .image1{
        position: absolute;
    top: -21px;
    height: 372px;
    }
    .setheading1{
        left: 693px;
    top: 54px;
    position: relative;
    }
}
.setlegand{
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    text-align: center;
}