body{
    background-color: lightgray;
}
h1{
    text-align: center;
    font-family:"Brush Script MT", cursive;
    text-shadow: 2px 2px hotpink;
    text-transform: capitalize;
    text-decoration-line: underline ;
    text-decoration-style: wavy;
    text-decoration-color: azure;
}
img{
    width: 200px;
    height: 200px;
}
.im{
    margin-top: 20px;
    margin: auto;
    outline-offset: 15px;
    padding: 10px;
}
div{
    border: 15px solid green;
    background-color: lightslategray;
    margin: 20px;
    padding: 50px;
    width: 200px;
    border-radius: 5px;
    outline: 5px rgb(45, 13, 94) dotted;
    
    
}
.ri{
    font-family: Copperplate, Papyrus, fantasy;
    float: left;
    width: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: yellow;
}
.st{
    
    float: right;
    width: 400px;
    position:absolute;
    top:10px;
    right: 10px;
    font-weight: bold;
    overflow: scroll;
    
}
.ii{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
    text-align: center;
}
a:link{
    color:green;
    
}
a:hover {
    color: hotpink;
    text-decoration: double;
  }
a:visited{
    color:blue;

}
a:active{
    color: orange;
}
.lp{
    text-align: left;
}
ul{
    list-style-type: square;
}