li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

div{
    display: inline-block;
}
figure{
    display: inline-block;
    padding: 20px;
}
.next{
    display: block;
    padding-left: 100px;
   
}
.center{
    text-align: center;
   padding-bottom: 50px;
   padding-left: 100px;
   padding-right: 50px;
   
}
.img{
    background-image:url(grey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50px;
    content: "";
    width: 90%;
}
@media(max-width:600px){
    .img{
        display: inline-block;
    }
}
figcaption{
    color:white;
}
 .h1{
    text-align: center;
    color: white;
 }
.li{
  
   font-size :24px;
   text-decoration: none;
    
}
ul{
    background-color: white;
    
    
}
#line{
    display: inline;
    padding-left: 60px;
}
a{
    text-decoration: none;
}
li:link {
    color:black;
  }
  li:visited {
   background-color: grey;
  }
   li:hover {
   background-color:lightgray;
  }
  li:active {
   background-color:grey;
  }
  input{
    font-size: 20px;
    text-align: center;
  }
  input:link {
    color:black;
  }
  input:visited {
   background-color:lightgray;
  }
  input:hover {
   background-color: lightblue;
  }
  input:active {
   background-color:grey;
  }
  