.list1{
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px;
}
.heading2{
    position: relative;
    top :15px;
}
 #headingline2{
        padding: 20px;
    position: relative;
    top: 20px;
}
#headline3{
    position: relative;
    top: 14px;
}
.book{
    height: 50px;
    width: 50px;
}
.searchingarea{
    display: inline-flex;
    position: relative;
    left: -170px;
    margin: 28px;
}
#addlist{
    font-family: FontAwesome;
    border: none;
    position: relative;
    left: 100px;
}
.heading3{
    display: inline-block;
}
.image2{
    display: inline-block;
    padding: 20px;
}
.image3{
    height: 20px;
    width: 20px;
}
.seticons{
    display: block;
    padding-left: 50px;
    top: 23px;
    position: relative;
    left: -202px;
   
}
.contentcenter{
    text-align: center;
   padding-bottom: 50px; 
   position: relative;
    left: 115px;
   
}
.heading{
    color: white;
    padding-left: 310px;
    position: relative;
    left: -226px;
}
.image1{
    background-image:url(grey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 150px;
    content: "";
    width: 100%;
    height: 1000px;
}

  .captioncolor{
    color:white;
}
 .sign{
        
        background-color: grey;
        position: absolute;
        width: 157px;
        padding: 1px;
    height: 39px;
    right: -409px;
    top: -7px;
 }
   .size{
    color: white;
    font-size: 25px;
   }
 #addlist:hover{
    border: none;
 }

#heading1{
    display: inline;
    padding-left: 60px;
}
a{
    text-decoration: none;
}
.list1:link {
    color:black;
  }
  .list1:visited {
   background-color: grey;
  }
  .list1:hover {
   background-color:lightgray;
   text-decoration: none;
  }
  .list1:active {
   background-color:grey;
  }
  .textform{
    font-size: 20px;
    text-align: center;
  }
a:hover{
    text-decoration: none;
}
.textform:link {
    color:black;
  }
  .textform:visited {
   background-color:lightgray;
  }
  .textform:hover {
   background-color: lightblue;
  }
  .textform:active {
   background-color:grey;
  }
  @media(max-width:666px) and (min-width:320px){
         .image1{
                 width: 1200px;  
                 height: 550px;
                 position: relative;
                 top: 25px;
            }
         .heading{
                  position: absolute;
                  left: -1000px;
                  right: -575px;
              }
                 
            .searchingarea{
                display: inline-block;
                          position: absolute;
                          left: 8px;
                          top: 135px;
                 }
                 .heading2{
                    top: 40px;
                    left: -354px;
                 }
             .seticons{
                       position: relative;
                       display: inline-flex;
                       top: 450px;
                       left: -400px;
                       top: 403px;
                    }
                    .contentcenter{
                        left: 268px;
                         position: relative;
                    }
               input{
                 margin-bottom: 10px;
                 padding: 10px;
                 }
                 .sign{
                    left: 866px;
                  position: absolute;
                  left: 1000px;
                top: 0px;
                 }
                 #addlist{
                    position: relative;
                    left: 0px;
                 }
}
@media(max-width:1024px) and (min-width:762px){
.contentcenter{
    position: relative;
    left: 2px;
  
}
.heading{
    position: relative;
    left: -232px;
}
.heading2{
    position: relative;
    top: 60px;
    left: -258px;
}
#addlist{
    position: relative;
    left: 58px;
}
.image1{
    position: relative;
    top: 34px;
}
.sign{
    position: absolute;
    top: 0px;
    right: -323px;
}
.seticons{
    position: relative;
    top: -11px;
    left: -118px;
    margin: 35px;
}
.searchingarea{
    left: -119px;
    position: relative;
}
}
@media(min-width:666px) and (max-width:768px){
    .heading{
        position: absolute;
        left: -279px;
    }
    .heading1{
        position: absolute;
    top: 8px;
    }
    .headingline{
        position: absolute;
    width: 479px;
    left: 427px;
    }
    .headingline1{
        position: absolute;
        width: 479px;
        left: 427px;
        top: 43px;
}
    
    .image1{
        width: 1117px;
        position: relative;
        height: 555px;
    top: 15px;
    }
    .image{
        top: 98px;
    }
    .contentcenter{
        position: relative;
        top: 139px;
        left: -66px;
    }
    .seticons{
display: grid;
grid-gap: 16px;
grid-template-columns: repeat(5,1fr);
position: absolute;
padding: 20px;
top: 125px;
left: 99px;
    }
    input{
        margin: 10px;
    } 
    .searchingarea{
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(2,1fr);
        position: absolute;
        left: 142px;
    top: -23px;
    }
    .heading2{
        position: relative;
        left: 0px;
        top: 0px;
    }
    .sign{
        position: absolute;
        top: 0px;
        right: -255px;
    
    }
    }
    .contentset{
        text-align: center;
        position: relative;
        top: 60px;
    }
   